/*Muhammad Furqan Ahmed 8921348*/
html{
    font: normal italic bold 20px/1.5 Arial, Helvetica, sans-serif;
}
body {
    width: 100vw;
    height: 100vh;
    background-color: hsla(275, 66%, 35%, 0.3);
    display: flex;
    flex-direction: column;
}
h2 {
    color: #308;
    font-size: 1.5em;
}
h1{
    color: rgb(210, 255, 9); font-size: 2.5em;
}
section{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
}
main{
    background-color: teal;
    flex: 2 1 70%;
}
nav ul li{
    display: inline;
    list-style-type: none;
}
nav ul li a{
    color: indigo;
    border: 0.2em solid indigo;
    background-color: cornsilk;
    text-decoration: none;
    padding: 1em;
}
nav ul li a:hover{
    color: cornsilk;
    background-color: indigo;
    border-color: cornsilk;
}

aside {
    background-color: orangered;
   flex: 1 1 30%;
}
aside li{
    
    list-style-type: square;
    line-height: 290%;
    color: rgba(81, 0, 156, 0.9);

}
aside a{
    color: rgba(81, 0, 156, 0.9);
} 
footer{
    background-color: powderblue;
}
header{
    background-color: blueviolet;
}
.structural{
    padding: 0.5em;
    margin: 0.5em;
    border: 0.1em dashed orange;
    border-width: 0.2em;
}
#para1{
    color: rgb(0, 255, 42);
}
#para2{
    color: rgb(255, 23, 55);
}
form{
    border: 0.5em dashed hotpink;
    padding: 0.5em;
}
input[type=text], input[type=email],input[type=submit], select, option {
    display : block;
    width : 50%;
    height : 2em;
}
input[type=radio], input[type=checkbox]{
    width: 2em;
    height: 2em;
}
select,option,input,legend,label{
    font-size: 1.5rem;
    font-weight: bold;
    font-variant: small-caps;
}
textarea{
    display: block;
    width: 50%;
}
fieldset{
    border: none;
}

aside a:hover{
    color: #699;
}
footer p{
    font-size: 0.75em;
}
img{
    width: 80%;
    height: 80%;
}
figure{
    border: 0.2em solid black;
    
}
#gallery{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
}
@media (max-width: 600px){
    html{
        font-size: 10px;
    }
    #gallery{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr ;
    }
    section{
        display: block;
    }
}