/*Muhammad Furqan Ahmed 8921348*/
body {
    font: normal italic bold 12px/1.5 Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    background-color: hsla(275, 66%, 35%, 0.3);
}
h2 {
    color: #308;
    font-size: 1.5em;
}